<div class="customer-container">
  <h2>Manage Customers</h2>
  <div class="customer-list">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>
            <button class="delete-btn" (click)="deleteCustomer(customer._id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  